<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.gr.java_conf.hiro_titan_d.mlkit_sample_face_detection_01">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <meta-data
        android:name="com.google.mlkit.vision.DEPENDENCIES"
        android:value="face" />
    <meta-data
        android:name="com.google.mlkit.vision.DEPENDENCIES"
        android:value="ica" />
    <meta-data
        android:name="com.google.mlkit.vision.DEPENDENCIES"
        android:value="ocr" />
</manifest>
